process.executor = 'local'
executor.cpus = 1


profiles {
    standard {}

    local {}

    aws {
        includeConfig "docker.config"
        process.executor = 'awsbatch'
        executor.name = 'awsbatch'
        process.queue = 'default'
        aws.region = 'eu-west-1'
        client{
            storageEncryption = 'AES256'
            uploadMaxThreads = 1
            maxConnections = 1
            connectionTimeout = 10000
        }
        executor.awscli = '/opt/miniconda/bin/aws'
        workDir = ""
    }

    docker {
        includeConfig "docker.config"
    }

    singularity {
        includeConfig "singularity.config"
    }
}
